@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

/* default syles */

* {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 5rem auto;
}
:root {
    --bg-color: rgb(0, 0, 0);
    --second-bg-color: rgb(230, 83, 60);
    --paragraph-color: rgba(255, 255, 255, 0.5);
    --option-color: rgb(255, 255, 255);
}

/* section 1 styles */

body{
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--second-bg-color);
}
.nav-options {
    display: flex;
    align-items: center;
    gap: 47px;
}
.nav-options p {
    font-size: 18px;
    font-weight: 400;
    color: var(--option-color);
}
.nav-options p span {
    font-weight: 600;
    background-color: var(--second-bg-color);
    border-radius: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
.banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner1-content1 h1 {
    color: var(--option-color);
    font-size: 78px;
    font-weight: 900;
    letter-spacing: 0%;
}
.banner1-content1 h1 span {
    font-family: 'Miama', sans-serif;
    font-size: 78px;
    font-weight: 400;
}
.banner1-content1 p {
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 28px;
}
.btn button {
    border-radius: 42px;
    width: 224px;
    height: 54px;
    color: var(--option-color);
    border-style: solid;
    border-color: var(--option-color);
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}
#btn {
    background-color: var(--second-bg-color);
    border-style: none;
}
.btn {
    display: flex;
    gap: 14px;
    align-items: center;
    
}
.ct {
    display: flex;
    align-items: center;
    gap: 12px;
    left: 900px;
    top: 630px;
    justify-content: center;
}
.ct i {
    font-size: 40px;
    color: var(--second-bg-color);
}
.card-text h1 {
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
.card-text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
.card-text {
    width: 206px;
    height: 96px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.ct2{
    left: 1250px;
    top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:  25px;
}

/* section 2 styles */

.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner2 h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--option-color);
    margin-bottom: 14px;
}
.banner2 p {
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-bottom: 54px;
}
.banner2-images {
    display: flex;
    align-items: center;
    gap: 70px;
}
.banner2-images figure img {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--paragraph-color);
}
.banner2-images figure figcaption {
    width: 231px;
    text-align: center;
}
.banner2-images figure figcaption h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--option-color);
    margin-top: 24px;
    padding-right: 35px;
}
.banner2-images figure figcaption p {
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
    padding-right: 35px;
}

/* section 3 styles */

.banner3 {
    width: 75%;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    border-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px;
}
.banner3 img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
.banner3-content {
    width: 443px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.banner3-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--option-color);
}
.banner3-content p {
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
}
.banner3-content button {
    width: 224px;
    height: 54px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: var(--option-color);
    background-color: var(--second-bg-color);
    border-style: none;
    border-radius: 42px;
}

/* section 4 styles */

.banner4 {
    width: 670px;
}
.banner4 h1 {
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    color: var(--option-color);
}
.banner4 p {
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
}
.part1 h1 {
    margin-bottom: 52px;
    font-size: 28px;
    font-weight: 900;
    color: var(--option-color);
}
table, td, th {  
    border: 1px solid var(--option-color);
    text-align: left;
    color: var(--option-color);
  }
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    font-size: 14px;
}
td {
    font-weight: 400;
    color: var(--paragraph-color);
}
.part2 {
    width: 570px;
}
.part2 h1 {
    margin-top: 49px;
    font-size: 28px;
    font-weight: 900;
    color: var(--option-color);
}
.part2 p {
    margin-top: 14px;
    margin-bottom: 34px;
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
}
.part2 button {
    margin-top: 34px;
    margin-bottom: 52px;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    border-style: none;
    background-color: var(--second-bg-color);
    font-size: 18px;
    font-weight: 600;
    color: var(--option-color);
}
.banner4-prime {
    background-color: rgb(34, 34, 34);
}
.banner4-prime-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 577px;
}
.inputs select{
    width: 270px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--paragraph-color);
    border-style: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.inputs select>option {
    background-color: var(--second-bg-color);
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.inputs input {
    width: 250px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--paragraph-color);
    border-style: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.inputs2 select{
    margin-top: 12px;
    width: 565px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--paragraph-color);
    border-style: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.inputs2 select>option {
    background-color: var(--second-bg-color);
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

/* section 5 styles */

